<div class="container" style="text-align: center">
  <h2>Registre su dispositivo defectuoso</h2>
    <form [formGroup] = "form" (submit)="aceptar()">
      <mat-form-field *ngIf="edicion">
        <mat-label>Código</mat-label>
        <input matInput formControlName="codigo" readonly>
      </mat-form-field>
          <br/>

      <mat-form-field class="example-full-width">
        <mat-label>Dispositivo</mat-label>
        <mat-select formControlName="modelo">
          <mat-option *ngFor="let c of listaModelos" [value]="c.idmodelo">
            {{c.nombre}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('modelo')?.hasError('required')"
        >El dispositivo es obligatorio.</mat-error>       
      </mat-form-field>

      <br/>
      <mat-form-field class="example-full-width">
        <mat-label>Observaciones:</mat-label>
        <textarea  matInput placeholder="Resumen" formControlName="observaciones"></textarea>
        <mat-error *ngIf="form.get('observaciones')?.hasError('required')"
        >Las observaciones son obligatorias.</mat-error>
      </mat-form-field>
      <br />
        <button mat-raised-button color="primary"> Aceptar</button>
        <button mat-raised-button color="warn" routerLink="/dispositivo">
          Cancelar
        </button>
           
    </form>
    </div>
    

