<div class="container" style="text-align: center">
  <h2>Registro de Modelo de marcas de celulares</h2>
    <form [formGroup] = "form" (submit)="aceptar()">
      <mat-form-field *ngIf="edicion">
        <mat-label>Código</mat-label>
        <input matInput formControlName="codigo" readonly>
      </mat-form-field>
          <br/>
          
      <mat-form-field>
        <mat-label>Modelo</mat-label>
        <input matInput formControlName="modelo">
        <mat-error *ngIf="form.get('modelo')?.hasError('required')"
        >El modelo es obligatorio.</mat-error>  
      </mat-form-field>
          <br/>

      <mat-form-field class="example-full-width">
            <mat-label>Marca</mat-label>
            <mat-select formControlName="marca">
              <mat-option *ngFor="let c of listaMarcas" [value]="c.idmarca">
                {{c.nombre}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('marca')?.hasError('required')"
            >La marca es obligatoria.</mat-error>       
          </mat-form-field>
          <br/>
        
        <button mat-raised-button color="primary"> Aceptar</button>
        <button mat-raised-button color="warn" routerLink="/modelo">
          Cancelar
        </button>
           
    </form>
    </div>
    
